{% extends 'OfdanSearchBundle:Static:static.html.twig' %}

{% block static %}
    <h1>Statistics</h1>
    <p>Below are a number of raw statistics that have been provided by the database. These are updated once a day
    and can be refreshed by pressing F5. Hover over a statistic heading for further information.</p>

    <p><strong>Queries</strong></p>

    <ul>
            <li><strong><a class="info" title="How long, on average, each search of the database has taken. This is a sample from the last ten web searches.">Average Seek</a>:</strong> {{ average_seek|number_format }} seconds</li>
            <li><strong><a class="info" title="The total number of searches performed on this web site. This includes multiple searches from the same computer in the same session.">Total Queries:</a></strong> {{ total_queries|number_format }}</li>
            <li><strong><a class="info" title="The total number of searches performed in the last 24 hours - a subset of the total displayed above.">Last 24 hours:</a></strong> {{ total_queries_by_day }}</li>
    </ul>

    <p><strong>Known Universe</strong></p>

    <ul>
            <li><strong><a class="info" title="The number of different languages is known.">Known languages:</a></strong> {{ known_languages|number_format }}</li>
            <li><strong><a class="info" title="The percentage of domains that the content language is known.">Domain languages:</a></strong> {{ known_domain_language|number_format(2) }}% of database</li>
            <li><strong><a class="info" title="How many keywords are currently available in the database to search. Each domain name is scanned for important words and stored in the database.">Known Words:</a></strong> {{ known_words|number_format }}</li>
            <li><strong><a class="info" title="The length of keywords stored in the database in the format (min, average, max).">Word Length:</a></strong> {{ min_word_length|number_format }}, {{ avg_word_length|number_format }}, {{ max_word_length|number_format }}</li>
            <li><strong><a class="info" title="The total number of domain names that have been spidered and recognised by the search engine. Blocked domain names are not included in this statistic.">Known Domains:</a></strong> {{ known_domains|number_format }}</li>
            <li><strong><a class="info" title="The number of domain names in the database that also keep a copy of the home page cached for future reference. You can view the cached entry by clicking 'Cache' on the search result if one is available.">Domains Cached:</a></strong> {{ cached_domains|number_format }}</li>
            <li><strong><a class="info" title="The number of domain names in the database that we have a copy of the robots file for future reference.">Domains Robots:</a></strong> {{ stored_robots|number_format }}</li>
            <li><strong><a class="info" title="The number of domains blocked from inclusion in the search engine. This may be due to spamming, privacy issues, incorrect or incomplete code, or the inability to determine content. Blocked sites remain in this database for one year.">Domains Blocked:</a></strong> {{ blocked_domains|number_format }}</li>
    </ul>

    <p><strong>Crawler</strong></p>

    <ul>
            <li><strong><a class="info" title="The number of domains currently queued to be spidered and included in the search engine. This also includes sites that are queued to be revisited.">Queue Length:</a></strong> {{ queued_domains|number_format }}</li>
            <li><strong><a class="info" title="Estimated number of days for queue to be cleared (this will probably never happen)">Estimated Crawl Time:</a></strong> Approx. {{ ((queued_domains/7200)+1)|number_format }} day(s)</li>
            <li><strong><a class="info" title="A percentage of the complete database waiting to be re-spidered. We attempt to visit each domain every two weeks (unless told otherwise in meta tags) to keep our database fresh.">Awaiting Re-visit:</a></strong> {{ require_update_domains }}% of database</li>
    </ul>
   
    <p><strong>Available Capacity</strong></p>

    <ul>
    <li><strong><a class="info" title="Remaining quota for this search engine's database.">Disk Storage:</a></strong>
    {{ disk_storage|bfos_format_bytes(false) }}</li>
    <li><strong><a class="info" title="Current processor load of the server, as formatted by the Linux uptime
    command.">Processor load:</a></strong> {{ processor_load }}</li>
    </ul>
   
{% endblock %}
